---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection("projects")
console.log("lol", projects)
---

<Layout title="evanderle.ng">
	<main>

		<h1 class="text-2xl px-2 py-3">Contact</h1>
		
		<div class="container m-auto grid grid-cols-1 gap-3">
			<p class="p-2">To reach me, please email me at <a class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" href="mailto:contact@evanderle.ng">contact@evanderle.ng</a></p>
		</div>
	</main>
</Layout>
