---
import Layout from '../layouts/Layout.astro';
---

<Layout title="evanderle.ng">
	<main>
		<div class="container m-auto grid grid-cols-1 gap-3">
			<div class="flex justify-center">
				<h1 class="text-3xl px-2 py-5">evаnderle.ng</h1>
			</div>

			<div class="bg-gray-100 p-3">
				<div class="flex justify-center">
					<h1 class="font-bold p-3">Security Student/Web Developer</h1>
				</div>

				<p class="text-base p-3">Hi, I'm Evander. I'm an Infosec Student in my 3rd year at the Singapore Institute of Technology.
					I enjoy dabbling in all kinds of technology, be it programming, web development, video/audio compositing and even on the physical side with 3d modelling, printing and post-processing.</p>

				<p class="text-base p-3">This site serves as a simple portfolio to showcase some of the software projects I've worked on.</p>
			
			</div>
		</div>
	</main>
</Layout>
